<a href="https://www.kenyawewant.com/" id="site-logo">[% site_name %]</a> 
<ul id="greenwich-menu-desktop">

    <li><a href="/">Report an issue</a></li>
    <li><a href="https://www.kenyawewant.com/contact">Contact us</a></li>
</ul>
</div>

<div class="main-menu-container">
    <div class="container page-header-container">

        <div class="page-header">


            <h1>Help Build the Kenya We Want</h1>
        </div>

    </div>

    <div class="container fms-menu-container">
        [% INCLUDE "main_nav.html" hide_privacy_link=1 ul_id="fms-menu-desktop" ul_class="" omit_wrapper=1 %]
    </div>